  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,800&display=swap');
*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Mulish', sans-serif;
}
.container{
  max-width: 1170px;
  width: 98%;
  margin: auto;
}
.navbar-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
}
/**navbar-brand*/
.navbar-brand{
  padding-left: 5px;

}
.navbar-brand a{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;

 
}
.navbar-brand span{
  color: #FF5400;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.navbar-brand img{
  width: 48px;
  height: 56px;
  

  
}
.navbar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 44px;
}
.navbar ul li{
  list-style: none;
}
.navbar ul li a{

  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.navbar ul li a:hover 
{
  color: #FF5400;
}

/**navbar-brand**/
.banner-content{
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url("Images/Group\ 13\ \(1\)\ \(1\).png");
  height: 500px;
}